<div id="wide-sidebar" class="row-fluid">
    <div class="span2">
        <ul class="nav nav-tabs nav-stacked">
            <li><a href="#/attributes">Attributes</a></li>
            <li><a href="#/attributeTypes">Attribute Types</a></li>
            <li class="navigation-active"><a href="#/preferredForms">Preferred Forms</a></li>
        </ul>
    </div>
    <div class="span8">
        <div class="clearfix">
            <div class="row">
                <div class="span4 pull-right">
                    <input type="text" class="search-query search-query-size"
                           ng-model="search" ng-change="filterQueue()"/>
                </div>
            </div>
            <div class="row">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>#</th>
                        <th>Name</th>
                        <th>Cohort Definition</th>
                        <th>Attribute Count</th>
                        <th>Tags</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-hide="preferredForms.length">
                        <td colspan="4">No data in the database.</td>
                    </tr>
                    <tr ng-repeat="preferredForm in preferredForms | orderBy:'submitted':true">
                        <td>
                            <input type="checkbox" value="{{preferredForm.uuid}}"
                                   ng-checked="selected[preferredForm.uuid]" ng-model="selected[preferredForm.uuid]">
                        </td>
                        <td><a href="#/preferredForm/{{preferredForm.uuid}}"><i class=icon-edit></i></a></td>
                        <td>{{preferredForm.name}}</td>
                        <td>{{preferredForm.cohortDefinition}}</td>
                        <td>{{preferredForm.attributeCount}}</td>
                        <td>{{preferredForm.tags}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="noOfPages > 1" class="row">
                <div class="span12 pull-left">
                    <pagination num-pages="noOfPages" current-page="currentPage" max-size="maxSize"
                                boundary-links="true"></pagination>
                </div>
            </div>
            <div ng-show="queues.length" class="row">
                <div class="span12 pull-left">
                    <button type="submit" ng-click="delete()" class="btn">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
